.body{
  font-family: 'Poppins', sans-serif;
}
.container{
  margin-top: 50px;
  margin-bottom:50px;
}
.col-banner-left{
  padding-left: 10%;
  padding-right: 10%;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: darkgray;
}
.buy-now-button{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}
.container h5 a{
  color: orange;
  text-decoration: none;
}
.card{
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
}
.card-footer{
  border: none;
  background-color: white;
}
p{
  color: gray;
  
}
.card-text{
  text-align: justify;
}
