.body{
  font-family: 'Poppins', sans-serif;
}
.container{
  margin-top: 30px;
  margin-bottom:30px;
}
.col-banner-left{
  padding-left: 10%;
  padding-right: 10%;
}
.carousel-indicators li {
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: darkgray;
}
.buy-now-button{
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 15px;
}
/* button img{
  width: 22%;
} */
